<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include the layout's head content -->
    <th:block th:insert="~{head}"></th:block>
</head>
<body>
    <!-- Include the layout's body content -->
    <th:block th:insert="~{layout}"></th:block>

    <!-- Your library content here -->
    <div class="uk-section uk-section-small" style="position:relative;">
        <div class="uk-container uk-container-small">
            <h2 class="uk-title" th:text="(${name != null ? name : 'Home'})"></h2>
            <a class="uk-text-meta" th:if="${back != null && path != null}" th:text="'Back - ' + ${path}" th:href="'/library/' + ${back}"></a>
            <p class="uk-text-meta" th:text="${chapters.size()} + ' entries found'"></p>
			
            <div class="uk-margin-bottom uk-flex uk-flex-between">
                <!-- searchbox that gets to value when pressing enter -->
                <form class="uk-search uk-search-default" th:action="@{/search}" method="get">
                    <span uk-search-icon></span>
                    <input class="uk-search-input" type="search" name="query" placeholder="Search" th:value="${query}">
            </div>

            <div class="uk-grid-small" uk-grid>
                <!--<div class="uk-margin-bottom uk-width-3-4@s">
                    <form class="uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Search">
                    </form>
                </div>-->
                <div class="uk-margin-bottom uk-width-1-4@s">
                    <!--<div th:insert="sort-form :: sort-form"></div>-->
                </div>
            </div>
            <div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
                <div class="item" th:each="item, i : ${titles}">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-inline">
                            <img th:if="${chapterThumbnails.get(item) != null}" width="100%" height="100%" alt="" uk-img="" th:src="'/thumbnail/' + ${chapterThumbnails.get(item)}">
                        </div>
                        <div class="uk-card-body">
                            <a class="uk-card-title break-word uk-margin-remove-top uk-text-meta uk-display-inline-block no-modal ddd-truncated" th:text="${item.name}" th:href="'/library/' + ${item.id}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <h3  th:if="${!chapters.empty}">Chapters</h3>
            <div th:if="${!chapters.empty}" class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
                <div class="item" th:each="item, i : ${chapters}">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-inline">
                            <img th:if="${item.thumbnail != null}" width="100%" height="100%" alt="" th:title="${item.description}" uk-img="" th:src="'/thumbnail/' + ${item.id}">
                        </div>
                        <div class="uk-card-body">
                            <a class="uk-card-title break-word uk-margin-remove-top uk-text-meta uk-display-inline-block no-modal ddd-truncated" th:text="${'VIEWS'.equals(orderBy) ? '(' + item.views + ') ' : ''} + ${'PAGES'.equals(orderBy) ? '(' + item.pageCount + ') ' : ''} + ${'LASTVIEWED'.equals(orderBy) ? '(' + (item.lastView == null ? '-' : item.lastView.toString().split('T')[0]) + ') ' : ''} +  ${item.name}" th:href="'/reader/' + ${item.id}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include additional scripts 
    <th:block th:insert="layout :: additional-scripts"></th:block>-->
</body>
</html>
